---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Passionate digital marketing specialist with a focus on SEO, Google Ads, and social media marketing. I leverage data-driven strategies to help businesses increase organic traffic, generate qualified leads, and boost brand engagement. With a keen eye for detail and a creative mindset, I deliver measurable results that drive business growth
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Digital Marketing Intern"
      subtitle="2024 to 2024 at Honeytreat Trade Academy, Ikeja, Nigeria"
    />
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Digital Marketing Intern"
      subtitle="From 2024 to 2023 at BHALLO Gadgets & IT Consult, Ikeja, Nigeria"
    >
      Social Media Marketing:

Managed and updated social media accounts (Instagram, Facebook, Twitter, etc.)Created engaging content (posts, reels, stories) to promote products and services.Ran social media advertising campaigns to reach a wider audience.
Search Engine Optimization (SEO):
Researched and implemented relevant keywords for product and service pages on the website

    </TimeLineElement>
    <TimeLineElement
      title="Digital Marketing Intern"
      subtitle="From 2024 to 2024 at Honeytreat Trade Academy, Ikeja, Nigeria"
    >
      Created and managed Google Ads campaigns to drive targeted traffic to the website. Optimized ad copy, bidding strategies, and landing pages to improve click-through rates and conversions.Tracked and analyzed campaign performance to identify areas for improvement. Assisted in managing the online store, including product listings, pricing, and inventory. Optimized product descriptions and images to improve search visibility and conversions. Implemented email marketing campaigns to drive sales and customer retention
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://skillshop.credential.net/e1231e00-2df0-4652-a01b-85dbc78d1de7" target="_blank"> Google Ads Display  </a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Google Analytics</li>
    <li>Google My business</li>
    <li>Google Search Console</li>
    <li>Blogging</li>
    <li>Google Ads</li>
    <li>Meta ads</li>
    <li>Snapchat Ads</li>
    <li>Linkedln Ads</li>
    <li>Twitter ads</li>
    <li>Tiktok Ads</li>
    
  </ul>
</BaseLayout>
