---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ogunyemi Babajide
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://www.linkedin.com/in/jide-ogunyemi-014b3133a/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="font-bold">Ogunyemi Babajide</a> 
    <!-- Digital Marketer.  :) -->
    <a href="https://www.linkedin.com/in/jide-ogunyemi-014b3133a/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app/" target="_blank" class="font-bold">Babajide</a>
  </div>
</footer>
<style></style>
